  tbody tr:nth-child(even) {
    background-color: lightblue;
    color: black;
  }

  tbody tr:last-child{
    background-color: white;
  }
  
  tbody tr {
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  button {
    
  }
  
  