$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 


.paging{
    display: inline-flex
}

.dropdown{
    display: inline-flex

}

.highlight {
    width: 100%;
    border: 5px solid #00B4CC;
    border-right: none;
    height: auto;
    border-radius: 5px 0 0 5px;
    outline: solid;
}